# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Brunch dependency and temporary folders
server/src/main/websrc/node_modules/
server/src/main/websrc/tmp/
server/src/main/websrc/bower_components/

# Brunch output folder
server/src/main/webapp/
